.App {
    .header {
        padding: 12px 0;
        background-color: rgb(15, 33, 51);
        .navbar__header {
            flex-wrap: wrap;
            .logo__header {
                position: relative;
                width: 80px;
                display: block;
                margin-right: auto;
                &:hover {
                    opacity: 0.7;
                }
            }
            .nav__link {
                margin: 8px 12px;
                font-size: 14px;
                color: #abb7c4;
                font-weight: bold;
                text-transform: uppercase;
                font-family: 'Dosis', sans-serif;
                text-decoration: none;
                &.active,
                &:hover {
                    color: #dcf836;
                }
            }
        }
    }
}
